html {
    scroll-behavior: smooth;
    background-color: #0e1418;
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    overflow-x: hidden;
    background-color: #0e1418;
    color: #fff6f6;
    zoom: 1;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

section {
    min-height: 100vh;
    margin: 0;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    background-color: #0e1418;
    color: #fff6f6;
}

h1,
p {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-weight: 300;
}

nav {
    background-color: #0e1418;
}

.navbar .navbar-brand {
    margin-left: 159px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.navbar .navbar-brand:hover {
    color: #ffffff;
}

.offcanvas {
    background-color: #0e1418;
}

.offcanvas-body {
    margin-right: 159px;
}

.nav-item {
    padding-inline: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff6f6;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.25px;
}

.nav-items .btn {
    width: 140px;
    height: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff6f6;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.25px;
}

.nav-items .btn:hover {
    background-color: #ffffff;
    text-decoration: none;
}

.offcanvas-body .nav-link {
    color: #ffffff;
}

.offcanvas {
    transition: transform 0.3s ease-in-out;
}

.offcanvas-header .offcanvas-title {
    color: #ffffff;
    font-weight: bold;
}

/* ----------Hero Section---------- */
.hero-section {
    text-align: center;
    padding-top: 220px;
    color: #fff;
}

.hero-heading {
    position: relative;
    font-size: 110px;
    font-weight: 700;
    letter-spacing: 3.3px;
    color: #fff;
    z-index: 2;
}

.hero-heading::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 250px;
    border-radius: 260px;
    /* Adjusted border-radius value */
    background: linear-gradient(264deg, rgba(112, 0, 255, 0.5) 0%, rgba(6, 255, 240, 0.5) 100%);
    filter: blur(136.97015380859375px);
    z-index: -1;
}

.hero-heading::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 250px;
    border-radius: 260px;
    /* Adjusted border-radius value */
    background: linear-gradient(264deg, rgba(112, 0, 255, 0.5) 0%, rgba(6, 255, 240, 0.5) 100%);
    filter: blur(94.70753479003906px);
    z-index: -2;
}

.hero-subheading {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.9px;
    color: #fff;
    z-index: 3;
    /* Updated */
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 10vh;
    background-color: transparent;
    /* Updated */
    color: #fff;
    margin-left: -90px;
    position: relative;
    z-index: 3;
}


.content-left {
    width: 500px;
    max-height: 200px;
    text-align: left;
    z-index: 3;
}

.content-left p {
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-right: 80px;
    font-size: 16px;
    z-index: 3;
}

.vertical-line {
    width: 1px;
    height: 180px;
    background-color: #fff;
    z-index: 3;
}

.content-right {
    text-align: right;
    z-index: 3;
}

.logo-section {
    display: flex;
    gap: 48px;
    margin-left: 90px;
    margin-top: -50px;
    z-index: 3;
}

.logo-section img {
    margin-left: 10px;
    max-width: 120px;
    max-height: 120px;
    z-index: 3;
}

@media (max-width: 768px) {
    .hero-heading {
        font-size: 60px;
        letter-spacing: 1.8px;
    }

    .hero-subheading {
        font-size: 16px;
        letter-spacing: 0.8px;
    }

    .centered-container {
        margin-left: 0;
        padding: 20px;
        position: relative;
        z-index: 3;
    }

    .content-left {
        text-align: center;
        margin-left: 80px;
        z-index: 3;
    }

    .vertical-line {
        display: none;
    }

    .content-right {
        display: grid;
    }

    .logo-section {
        display: none;
    }

    .logo-section img {
        display: none;
    }
}

/* ----------About Section---------- */
.about-section {
    text-align: center;
    padding-top: 220px;
    color: #fff;
    margin-top: -50px;
    position: relative;
    z-index: 1;
    /* Added z-index */
}

.about-heading {
    position: relative;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 3.3px;
    color: #fff;
    /* Removed background */
    z-index: 3;
    /* Increased z-index */
}

.about-subheading {
    margin-top: 18px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.9px;
    color: #fff;
    /* Added text-shadow */
    z-index: 3;
    /* Increased z-index */
}

.about-subheading::before {
    content: "";
    position: absolute;
    margin-top: 40vh;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-22.538deg);
    width: 490.219px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(-22.538deg, rgba(38, 3, 251, 0.4) 0%, rgba(220, 6, 255, 0.4) 100%);
    filter: blur(150px);
    z-index: -1;
}

.about-subheading::after {
    content: "";
    position: absolute;
    margin-top: 40vh;
    /* Adjusted margin-top value */
    left: 50%;
    transform: translate(-50%, -50%) rotate(-22.538deg);
    /* Adjusted translation */
    width: 490.219px;
    height: 400px;
    border-radius: 50%;
    background: linear-gradient(-22.538deg, rgba(38, 3, 251, 0.4) 0%, rgba(220, 6, 255, 0.4) 100%);
    filter: blur(150px);
    z-index: -2;
}

.container {
    display: flex;
    justify-content: center;
    margin-left: 117px;
    margin-right: 117px;
    margin-top: 96px;
    position: relative;
    /* Added position */
    z-index: 2;
    /* Added z-index */
}

.box {
    border-radius: 15px;
    background-color: #21262d;
    margin-top: 96px;
    min-height: 430px;
    max-width: 600px;
}


.box:first-child {
    margin-right: 75px;
}

@media (max-width: 768px) {
    .box {
        margin-bottom: 20px;
    }
}

.heading {
    color: #fff;
    text-align: left;
    font-size: 20px;
    font-family: 'Spline Sans Mono', monospace;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
    margin-left: 48px;
    margin-top: 83px;
}

.content {
    color: #fff;
    font-size: 18px;
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.18px;
    padding: 0 48px;
    margin-top: 36px;
    overflow: auto;
}

.box-nav {
    margin-left: 48px;
    margin-top: 24px;
    color: #fff;
    text-align: left;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.18px;
    text-decoration: none;
    position: relative;
}

.box-nav::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.box-nav:hover::after {
    transform: scaleX(1);
}

/* ----------Number Section---------- */
.number-section {
    text-align: center;
    padding-top: 220px;
    color: #fff;


}

.number-heading {
    position: relative;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 3.3px;
    color: #fff;
}

.number-subheading {
    margin-top: 18px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.9px;
}

.number-boxes {
    margin-left: 117px;
    margin-right: 117px;
    margin-top: 117px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.number-box {
    background-color: #21262d;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 15px;
    margin-right: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    text-align: center;
}

.number-description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

@media (max-width: 768px) {
    .row {
        flex-wrap: wrap;
    }

    .number-box {
        margin-bottom: 40px;
    }

    .number-box:last-child {
        margin-bottom: 0;
    }
}


.number-box:last-child {
    margin-right: 0;
}


.number {
    font-size: 36px;
    margin-top: 12px;
}

@media (max-width: 768px) {
    .row {
        flex-wrap: wrap;
    }

    .number-box {
        margin-bottom: 10px;
    }

    .number-box:last-child {
        margin-bottom: 0;
    }
}

/* ----------Harness Section---------- */
.harness-heading {
    padding-top: 220px;
    text-align: left;
    color: #FFF;
    font-size: 48px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.64px;
    z-index: 3;
}

.harness-heading,
.harness-subheading {
    margin-left: 117px;
}

.harness-subheading {
    margin-top: 32px;
    color: #FFF;
    font-size: 18px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
    max-width: 759px;
    height: 96px;
}

@media (max-width: 768px) {

    .harness-heading,
    .harness-subheading {
        margin-left: 0;
        text-align: center;
    }
}

.custom-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 742px;
    height: 48px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 117px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.email-input {
    flex: 1;
    width: 431px;
    height: 100%;
    color: #000;
    font-size: 18px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.18px;
    border: none;
    outline: none;
    background-color: #FFFFFF;
    padding: 0 16px;
}

.signup-button {
    width: 300px;
    height: 58px;
    background-color: #773EC6;
    color: #FFF;
    font-size: 18px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.18px;
    border: none;
    cursor: not-allowed;
    opacity: 0.5;
    transition: transform 0.2s ease-in-out;
}

.signup-button:hover {
    transform: translateY(-2px);
}

.email-input:valid+.signup-button {
    cursor: pointer;
    opacity: 1;
}

@media (max-width: 768px) {
    .custom-button {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .email-input {
        width: 250px;
    }

    .signup-button {
        width: 120px;
        font-size: 16px;
    }
}

/* ----------Conversation Section---------- */

.hero-harness {
    position: relative;
}

.harness-section {
    position: relative;
    z-index: 2;
}

.harness-content {
    position: relative;
    z-index: 2;
}

.hero-conversation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    position: relative;
}

.hero-conversation::before,
.hero-conversation::after {
    content: "";
    position: absolute;
    top: 50vh;
    /* Decreased the top position by 50vh */
    left: 0;
    border-radius: 490.219px;
    background: linear-gradient(180deg, rgba(38, 3, 251, 0.6) 0%, rgba(220, 6, 255, 0.6) 100%);
    filter: blur(300px);
    width: 490.219px;
    height: 490.219px;
    transform: rotate(-22.538deg);
    flex-shrink: 0;
}

.hero-conversation::before {
    transform-origin: top left;
}

.hero-conversation::after {
    transform-origin: bottom left;
}

.conversation-section {
    text-align: center;
    position: relative;
    z-index: 2;
}

.conversation-heading {
    color: #fff;
    font-size: 48px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.64px;
}

.conversation-subheading {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
    margin-top: 32px;
    max-width: 759px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.conversation-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
    gap: 62px;
}

.conversation-icons img {
    width: 64px;
    height: 64px;
    fill: #fff;
}

@media (max-width: 768px) {
    .hero-events {
        background-color: #0e1418;
    }

    .events-content::before,
    .events-content::after {
        display: none;
    }
}


/* ----------Events section---------- */
.hero-events {
    position: relative;
    background-color: transparent;
    /* Set the background color */
}

.events-section {
    margin-left: 117px;
}

.events-content {
    color: #FFF;
    z-index: 1;
    position: relative;
}

.events-content::before,
.events-content::after {
    content: "";
    position: absolute;
    top: 20vh;
    right: 0;
    border-radius: 590.219px;
    background: linear-gradient(180deg, rgba(38, 3, 251, 0.4) 0%, rgba(220, 6, 255, 0.4) 100%);
    filter: blur(250px);
    /* Decreased intensity of blur by 50% */
    width: 290.219px;
    height: 290.219px;
    transform: rotate(158.197deg);
    flex-shrink: 0;
    z-index: -1;
}

.events-heading {
    font-size: 48px;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.64px;
}

.events-subheading {
    font-size: 18px;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
    margin-top: 32px;
    width: 748px;
    height: 199px;
}

.events-button {
    margin-top: 32px;
}

.event-github-button {
    margin-top: 29px;
    width: 356px;
    height: 53px;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 32px;
    color: #000;
    font-size: 18px;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.18px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    position: relative;
    /* Add position relative */
    z-index: 2;
    /* Increase the z-index to bring it on top of the gradient */
}

.event-github-button img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.event-github-button:hover {
    transform: translateY(-4px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.events-moto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 20vh;
    z-index: 2;
    /* Placing the events-moto on top of the gradient */
}

.events-moto-text {
    color: #FFF;
    font-size: 32px;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.32px;
}

@media (max-width: 768px) {
    .events-section {
        margin-left: 20px;
    }

    .events-heading {
        font-size: 36px;
    }

    .events-subheading {
        width: auto;
        height: auto;
        margin-top: 16px;
    }

    .event-github-button {
        width: 100%;
        max-width: 356px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0;
    }

    .event-github-button img {
        display: none;
    }

    .events-moto {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        margin-top: 18vh;
        z-index: 2;
        /* Placing the events-moto on top of the gradient */
    }

    .events-moto-text {
        color: #FFF;
        font-size: 18px;
        font-family: "Segoe UI", sans-serif;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.32px;
    }
}

@media (max-width: 480px) {
    .events-section {
        margin-left: 10px;
    }

    .events-heading {
        font-size: 28px;
    }

    .events-subheading {
        font-size: 16px;
        margin-top: 12px;
    }

    .event-github-button {
        font-size: 16px;
        max-width: 300px;
    }
}

@media (max-width: 768px) {
    .hero-events {
        background-color: transparent;
    }

    .events-content::before,
    .events-content::after {
        display: none;
    }
}

/* ----------Partner Section---------- */
.hero-partner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -20vh;
    position: relative;
    background-color: transparent;
}

.partner-section {
    text-align: center;
    position: relative;
    z-index: 1;
}

.partner-content {
    position: relative;
    z-index: 1;
}

.partner-content::before,
.partner-content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -117px;
    border-radius: 346.55px;
    background: linear-gradient(180deg, rgba(38, 3, 251, 0.80) 0%, rgba(220, 6, 255, 0.80) 100%);
    filter: blur(176.73252868652344px);
    width: 346.55px;
    height: 346.55px;
    transform: rotate(-22.538deg);
    flex-shrink: 0;
    z-index: -1;
}

.partner-content::before {
    transform-origin: top left;
}

.partner-content::after {
    transform-origin: bottom left;
}

.partner-heading {
    color: #FFF;
    font-size: 48px;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.64px;
}

.partner-subheading {
    color: #FFF;
    font-size: 18px;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
    max-width: 900px;
    margin-top: 32px;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.partner-button {
    margin-top: 64px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    /* Add position relative */
    z-index: 2;
    /* Increase the z-index to bring it on top of the gradient */
}


.partner-us-button button {
    width: 300px;
    height: 53px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 32px;
    padding-right: 32px;
    /* Add padding to center the text horizontally */
    color: #000;
    font-size: 18px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.18px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.partner-us-button:hover {
    transform: translateY(-4px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
    .hero-partner {
        flex-direction: column;
        height: auto;
    }

    .partner-button {
        margin-top: 32px;
    }

    .partner-us-button button {
        width: 250px;
        /* Adjust the width as desired for smaller screens */
        justify-content: center;
        /* Center the text */
    }

    .partner-us-button img {
        width: 15px;
        height: 15px;
        /* Hide the image */
    }
}

/* ----------Testimonial Section---------- */
.hero-testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: transparent;
}

.testimonials-section {
    text-align: center;
}

.testimonials-heading {
    color: #FFF;
    font-size: 48px;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.64px;
    margin-top: 0;
}

.testimonials-subheading {
    color: #FFF;
    font-size: 18px;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
    margin-top: 16px;
}

.testimonials-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    flex-wrap: wrap;
    position: relative;
    background-color: transparent;
    /* Add position relative for stacking */
    overflow: hidden;
    /* Hide overflowing gradient */
}

.testimonials-container::before,
.testimonials-container::after {
    content: "";
    position: absolute;
    bottom: -50vh;

}

.testimonials-container::before {
    transform-origin: bottom right;
}

.testimonials-container::after {
    transform-origin: top right;
}


.testimonial-box {
    position: relative;
    /* Add position relative */
    z-index: 2;
    /* Place on top of the gradient */
    width: 400px;
    height: 260px;
    border-radius: 10px;
    background: #21262D;
    padding: 32px;
    box-sizing: border-box;
    margin-right: 16px;
    margin-bottom: 16px;
}

.testimonial-name {
    position: relative;
    /* Add position relative */
    z-index: 2;
    /* Place on top of the gradient */
    color: #FFF;
    font-size: 21px;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.21px;
    margin: 0;
    text-align: left;
}

.testimonial-text {
    position: relative;
    /* Add position relative */
    z-index: 2;
    /* Place on top of the gradient */
    color: #FFF;
    font-size: 18px;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.18px;
    margin-top: 27px;
    display: flex;
    width: 307px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-align: left;
}

/* ----------Newsletter Section----------- */
.hero-newsletter {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #0e1418;
    /* Set the background color */
    background-image: none;
    /* Hide the background image by removing it */
}

.newsletter-main-heading {
    text-align: center;
    z-index: 3;
}

.newsletter-heading {
    color: #FFF;
    font-size: 48px;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.64px;
    z-index: 3;
}

.newsletter-subheading {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
    max-width: 900px;
    margin: 0 auto;
    z-index: 3;
}

.form-container {
    margin-top: -24px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.form-container::before,
.form-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 484.439px;
    height: 455.636px;
    transform: rotate(-23.809deg);
    flex-shrink: 0;
    border-radius: 484.439px;
    background: linear-gradient(180deg, rgba(38, 3, 251, 0.80) 0%, rgba(220, 6, 255, 0.80) 100%);
    filter: blur(250px);
}

.news-form {
    margin-left: auto;
    position: relative;
    z-index: 2;
}

.form-section,
.newsletter-button {
    position: relative;
    z-index: 2;
}

.form-section {
    margin-top: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: flex-start;
}

.checkbox-section {
    display: flex;
    align-items: center;
    gap: 9px;
}

.checkbox-label {
    color: #FFF;
    font-size: 16px;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.18px;
    max-width: 520px;
    margin-top: 3vh;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #FFF;
}

input[type="checkbox"] {
    width: 22.368px;
    height: 25px;
    border-radius: 4px;
    background: #FFFEFE;
    border: none;
    box-shadow: none;
    transition: box-shadow 0.2s ease-in-out;
}

input[type="checkbox"]:hover {
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
}

input[type="text"],
input[type="email"] {
    width: 452px;
    height: 53px;
    border-radius: 6px;
    background: #FFFEFE;
    padding: 16px;
    font-size: 16px;
    border: none;
    box-shadow: none;
    transition: box-shadow 0.2s ease-in-out;
}

input[type="text"]:hover,
input[type="email"]:hover {
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
}

input[type="text"]::placeholder,
input[type="email"]::placeholder {
    margin-left: 32px;
}

.newsletter-button {
    margin-top: 32px;
}

.newsletter-button button {
    margin-top: 29px;
    width: 356px;
    height: 53px;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 32px;
    color: #000;
    font-size: 18px;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.18px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    position: relative;
    z-index: 2;

}

.newsletter-button button:hover {
    transform: translateY(-4px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 992px) {
    .form-container {
        flex-direction: column;
        align-items: center;
    }

    .col-lg-3 {
        width: 100%;
        text-align: center;
    }

    .form-section button {
        margin-left: 12%;
        align-items: center;
        width: 100%;
    }

    img {
        width: 100%;
        height: auto;
        max-width: 400px;
        margin-bottom: 20px;
    }

    input[type="text"],
    input[type="email"] {
        width: 100%;
        max-width: 400px;
    }

    button {
        width: 100%;
        max-width: 400px;
    }
}

/* ----------Footer---------- */
.footer {
    margin-top: 20vh;
}


.footer-logo-div {
    margin-left: 117px;
}

.footer-logo {
    color: #FFF;
    font-family: Segoe UI;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.32px;
}

.footer-icons {
    margin-top: 21px;
    align-content: center;
}

.icon-group a {
    text-decoration: none;
    max-width: 24px;
    max-height: 24px;
}

.footer-icon-vectors {
    margin-left: 10px;
}

.footer-links {
    align-items: flex-end;

}

.about-footer {
    z-index: 2;
}

.about-heading-footer {
    height: 32px;
    color: #FFF;
    font-family: Segoe UI;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.18px;
}

.about-content-footer {
    color: #FFF;
    font-family: Segoe UI;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.18px;
}

.about-content-footer a {
    text-decoration: none;
    color: #FFF;
}


@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo-div {
        margin-left: 0;
        text-align: center;
        margin-bottom: 20px;
        z-index: 3;
        /* Set a higher z-index to position the logo on top of the gradient */
    }

    .col-lg-4 {
        width: 100%;
        text-align: center;
    }

    .footer-icons {
        display: none;
        /* Hide the footer icon vectors on smaller screens */
    }

    .about-footer {
        z-index: 2;
    }

    .about-heading-footer {
        margin-top: 20px;
    }
}

/* ----------Credit---------- */
.credit {
    margin-top: -50vh;
    color: #FFF;
    text-align: center;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.16px;
}

@media (max-width: 768px) {
    .credit {
        position: fixed;
        left: 0;
        right: 0;

        margin-top: 0;
    }

}

/* --------------------------------------------------------------------------- */

@media (max-width: 768px) {

    .hero-section {
        padding-top: 150px;
    }

    .hero-heading {
        font-size: 40px;
        letter-spacing: 1.2px;
    }

    .hero-subheading {
        font-size: 14px;
        letter-spacing: 0.7px;
    }

}